# 종속성 디렉토리
/node_modules

# 디버그 파일
npm-debug.log

# 환경 설정 파일
.env

# IDE 설정
/.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS 파일
.DS_Store
Thumbs.db

# 빌드 결과물
/dist
/build

# 로그 파일
*.log

# 테스트 결과물
/coverage

# 키 파일
*.pem
*.key
